---
layout: base
title: "Aspartame Awareness Quiz"
---
  <a class="skip-link" href="#main">Skip to main content</a>
  <div id="wrapper">
                <!-- Top Navigation -->
                {% include "header.njk" %}
    <div id="main">
      <article class="post">
        <div class="title">
          <h2>Test Your Knowledge</h2>
          <p>Answer the questions below to see how well you know aspartame.</p>
        </div>
        <section id="quiz-container"></section>
        <div id="quiz-result" style="display:none;"></div>
      </article>
    </div>
    <!-- Menu will be loaded from header.html -->
  </div>
  {% include "footer.njk" %}
  <script src="js/sidebar-list.js"></script>
  <script src="js/search-box.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/browser.min.js"></script>
  <script src="js/breakpoints.min.js"></script>
  <script src="js/util.js"></script>
  <script src="js/dark-mode.js"></script>
  <script src="js/main.js"></script>
  <script src="js/cookie-banner.js"></script>
  <script src="js/sw-register.js"></script>
