<section id="menu">
    <div>
        <form class="search">
            <input type="text" id="searchInput2" name="query" placeholder="Search...">
            <div id="dropdown2" class="dropdown"></div>
        </form>
    </div>
    <div>
        <ul class="links" id="sidebar-list"></ul>
    </div>
    <div>
        <ul class="actions stacked">
            <li><a href="research" class="button large fit">Research</a></li>
        </ul>
    </div>
</section>
