<script src="js/sidebar-list.js"></script>
<script src="js/mini-posts-home.js"></script>
<script src="js/urls.js"></script>
<script src="js/list-posts.js"></script>
<script src="js/random-author.js"></script>
<script src="js/search-box.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/browser.min.js"></script>
<script src="js/breakpoints.min.js"></script>
<script src="js/util.js"></script>
<script src="js/dark-mode.js"></script>
<script src="js/main.js"></script>
<script src="js/sw-register.js"></script>
