<section id="sidebar">
    <section id="intro">
        <a href="#" class="logo"><img src="images/logos/logo-caution-3.png" alt="Aspartame Awareness caution logo"></a>
        <header>
            <h2>Aspartame<br>Awareness</h2>
            <p>The truth behind the sweetener that's 200x sweeter than sugar.</p>
        </header>
    </section>
    <section>
        <article class="post">
            <h2>Blog posts:</h2>
            <section id="mini-posts">
                <div class="mini-posts" id="mini-posts-container"></div>
            </section>
        </article>
    </section>
    <section>
        <ul class="posts" id="posts-list"></ul>
    </section>
    <section class="blurb"><br>
        <h2>About</h2>
        <p>Aspartame Awareness was founded in 2017 after realizing a personal struggle with an <em>"addiction"</em> to Diet Coke. During an initial phase of research driven by curiosity, it was shocking to uncover the potential consequences of artificial sweetener consumption and the lack of extensive scientific research on the topic. Motivated by this discovery, we began compiling information to inform and educate consumers on the potential risks of aspartame.</p>
        <p>Our mission is to gather reliable research, expert opinions, and real-life experiences to bring transparency to a topic that affects millions of people around the world.</p>
        <ul class="actions">
            <li><a href="about" class="button">Learn More</a></li>
        </ul>
    </section>
</section>
