<header id="header">
    <h1><a href="/">Aspartame Awareness<span class="small-org">.org</span></a></h1>
    <nav class="links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/aspartame">What is Aspartame?</a></li>
            <li><a href="/list-risks">Risks</a></li>
            <li><a href="/blogs/alternatives">Alternatives</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/quiz">Quiz</a></li>
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search">
                    <input type="text" id="searchInput" name="query" placeholder="Search..." aria-label="Search blog posts">
                    <div id="dropdown" class="dropdown"></div>
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>
<section id="menu">
    <div>
        <form class="search">
            <input type="text" id="searchInput2" name="query" placeholder="Search..." aria-label="Search blog posts">
            <div id="dropdown2" class="dropdown"></div>
        </form>
    </div>
    <div>
        <ul class="links" id="sidebar-list">
        </ul>
    </div>
    <div>
        <ul class="actions stacked">
            <li><a href="/research" class="button large fit">Research</a></li>
        </ul>
    </div>
</section>
