<section id="sidebar" class="bg-gray-100 dark:bg-neutral-900 p-6 space-y-8 rounded-lg shadow-md">
    <!-- Intro -->
    <section id="intro" class="text-center">
        <a href="#" class="logo mx-auto block w-32"><img loading="lazy" src="images/logos/logo-caution-3.png" alt="Aspartame Awareness logo highlighting the dangers of aspartame"></a>
        <header>
            <h2 class="text-xl font-bold">Aspartame<br>Awareness</h2>
            <p class="text-sm">The truth behind the sweetener that's 200x sweeter than sugar.</p>
        </header>
    </section>

    <!-- Mini Posts -->
    <section>
        <article>
            <h2 class="text-lg font-semibold mb-2">Blog posts:</h2>
            <section id="mini-posts">
                <div class="mini-posts grid gap-4" id="mini-posts-container">
                </div>
            </section>
        </article>
    </section>

    <!-- Posts List -->
    <section>
        <ul class="posts grid gap-4" id="posts-list">
        </ul>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2 class="text-lg font-semibold mb-2">About</h2>
        <p>Aspartame Awareness was founded in 2017 after realizing a personal struggle with an <em>"addiction"</em> to Diet Coke. During an initial phase of research driven by curiosity, it was shocking to uncover the potential consequences of artificial sweetener consumption and the lack of extensive scientific research on the topic. Motivated by this discovery, we began compiling information to inform and educate consumers on the potential risks of aspartame.</p>

        <p>Our mission is to gather reliable research, expert opinions, and real-life experiences to bring transparency to a topic that affects millions of people around the world. We believe everyone deserves to know what they are putting into their bodies, particularly when it comes to additives that may have long-term health impacts. By providing clear, accessible information, we hope to empower individuals to make safer, more informed dietary choices.</p>
        <ul class="actions mt-4">
            <li><a href="about" class="button">Learn More</a></li>
        </ul>
    </section>
</section>
